  @font-face {
    font-family: "TroubleSide";
    src:
        url("../fonts/TroubleSide.woff2") format("woff2"),
        url("../fonts/TroubleSide.woff") format("woff"),
        url("../fonts/TroubleSide.ttf") format("truetype"),
        url("../fonts/TroubleSide.svg#TroubleSide") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  @font-face {
    font-family: "TroubleSide Comic";
    src:
        url("../fonts/TroubleSide Comic.woff2") format("woff2"),
        url("../fonts/TroubleSide Comic.woff") format("woff"),
        url("../fonts/TroubleSide Comic.ttf") format("truetype"),
        url("../fonts/TroubleSide Comic.svg#TroubleSide") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  @font-face {
    font-family: "Desyatiy";
    src:
        url("../fonts/Desyatiy.woff2") format("woff2"),
        url("../fonts/Desyatiy.woff") format("woff"),
        url("../fonts/Desyatiy.ttf") format("truetype"),
        url("../fonts/Desyatiy.svg#Desyatiy") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "Pastry Chef Cyrillic Script";
    src:
        url("../fonts/PastryChefCyrillic-Script.woff2") format("woff2"),
        url("../fonts/PastryChefCyrillic-Script.woff") format("woff"),
        url("../fonts/PastryChefCyrillic-Script.ttf") format("truetype"),
        url("../fonts/PastryChefCyrillic-Script.svg#PastryChefCyrillic-Script") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff'),
        url('Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


nav {
    background-color: #c9d4a0;
}

.nav_pan {
     color: #534d25;
    transition: 0.5s ease;
}

.nav_pan:hover {
     color: #534d25;
    transform: scale(1.2);
}

.nav-item {
    color: #534d25;
    background-color: #edebd4;
    -webkit-border-radius: 40px;
    justify-content: center;
    align-content: center;
}

.white_heart {
    margin-top: 5px;
    animation: heartBeat 1.5s linear infinite;
}

@keyframes heartBeat {
  from {
    transform: heartBeat(0deg);
  }
  to {
    transform: heartBeat(360deg);
  }
}


@media (min-width: 1400px) {
    
            body {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #edebd4;
    font-family: "Troubleside";
}

.hello {
    position: relative;
    overflow: visible;
    background-color: #e5afa9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_we {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image_we img {
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
    max-width: 100%; 
}

.text-block {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #6C4C3A;
    font-family: "TroubleSide";
    font-size: 18px;
    line-height: 1.5;
}


.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 400px;
    height: 400px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #EDEBD4;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #EDEBD4;
    background-color: #E5AFA9;
}


.more_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}


.img_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img_photo img {
    padding-top: 70px;
    width: 600px;
    height: 400px;
}

.text_morephoto {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 150px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
}


.button_morephoto {
    border: 8px solid;
    background-color: #EDEBD4;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    cursor: pointer;
    height: 90px;
    transition: 0.5s ease;
    position: absolute;
    left: 67%;
    bottom: -60%;
}

.button_morephoto:hover {
    transform: scale(1.2);
    border-color: #EDEBD4;
    background-color: #E5AFA9;
}

.how_itstarts {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    
}

.how_it {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-top: 80px;
}

.cat {
    background-color: #534D25;
    justify-content: center;
    align-content: center;
    width: 50px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 50px;
    text-align: center;
    margin-right: 20px;
}

.dw_ank_n {
    background-color: #2C2D2F;
    height: 630px;
    -webkit-border-radius: 10px;
    justify-content: right;
    align-items: end;
    font-size: medium;
    font-family: Inter;
}

.dw_head {
    color: #FE3499;
    padding: 10px;
    padding-left: 20px;
    text-transform: none;
}

.dw_footer {
    color: #fff;
    height: 60px;
    align-items: end;
    justify-content: center;
    padding-left: 15px;
    font-size: 1.2rem;
    align-content: center;
    text-transform: none;
}

.dw_footer_2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    padding-right: 20px;
        opacity: 60%;
}

.dw_ank_photo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.block_heart {
    display: flex;
    justify-content: end;
    height: 200px;
    align-items: end;
}

.heart {
    height: 60px;
}

.cat_2 {
    background-color: #E5AFA9;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}

.cat_2 img {
    width: 35px;
    height: 40px;
}

.cat_3 {
    background-color: #C9D4A0;
    justify-content: center;
    align-content: end;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
    font-family: Inter;

}

.cat_3 img {
    width: 35px;
    height: 40px;
}

.text_me {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
}

.text_time {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}
    
    .text_me2 {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 120px;
    width: 27%;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
           margin-left: 80px;
    }
    
    .text_me3 {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 27%;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    margin-left: 80px;
    }
    
        .text_me4 {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 27%;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    }

.you {
    align-items: end;
    justify-content: end;
}

.text_you { 
    color: #fff;
    display: block;
    background: linear-gradient(to bottom, #FA6A83 10%, #F48B6A 79%);
    -webkit-border-radius: 30px;
    height: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.text_time2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 25px;
    opacity: 60%;
    font-size: 0.8rem;
}
    
    
    .button_memoriesss {
    border: 8px solid;
    background-color: #EDEBD4;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    cursor: pointer;
    height: 70px;
    transition: 0.5s ease;
}
    
    .button_memoriesss:hover {
    transform: scale(1.2);
    border-color: #EDEBD4;
    background-color: #E5AFA9;
}
    
    .btn_close {
    border: 8px solid;
    background-color: #EDEBD4;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    cursor: pointer;
    }
    
    
    .goals_header {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    margin-top: 100px;
    letter-spacing: 72%;
    font-family: TroubleSide Comic;
    }
    
    .header_g1 {
    height: 80px;
    border: 8px solid;
    margin-top: 50px;
    background-color: #EDEBD4;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    align-content: center;
    transition: 0.5s ease;
    }

    .header_g1:hover {
    transform: scale(1.2);
    border-color: #EDEBD4;
    background-color: #E5AFA9;
    }

    .header_g2 {
    height: 80px;
    border: 8px solid;
    margin-top: 50px;
    background-color: #EDEBD4;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    align-content: center;
    transition: 0.5s ease;
    }

    .header_g2:hover {
    transform: scale(1.2);
    border-color: #EDEBD4;
    background-color: #E5AFA9;
    }
    
    .text25_block {
        width: 350px;
        background-color: #C9D4A0;
        -webkit-border-radius: 50px;
        height: 250px;
        margin: 80px;
        text-align: start;
        justify-content: center;
        align-content: center;
        line-height: 2;
        color: #534D25;
    }
    
        .text26_block {
        width: 350px;
        background-color: #C9D4A0;
        -webkit-border-radius: 50px;
        height: 250px;
        margin: 80px;
        text-align: end;
        align-content: center;
        line-height: 2;
        color: #534D25;
    }
    
    .text26 {
        margin-bottom: 60px;
    }
    
}

@media (min-width: 1200px) and (max-width: 1399px)  {

            body {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #edebd4;
    font-family: "Troubleside";
}

.hello {
    position: relative;
    overflow: visible;
    background-color: #e5afa9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_we {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image_we img {
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
    max-width: 100%; 
}

.text-block {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #6C4C3A;
    font-family: "TroubleSide";
    font-size: 18px;
    line-height: 1.5;
}


.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 600px;
    height: 600px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}


.more_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}


.img_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img_photo img {
    padding-top: 70px;
    width: 600px;
    height: 400px;
}

.text_morephoto {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 150px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
}


.button_morephoto {
    border: 8px solid;
    background-color: #ffffff;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    cursor: pointer;
    height: 90px;
    transition: 0.5s ease;
    position: absolute;
    left: 75%;
    bottom: -90%;
}

.button_morephoto:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.how_itstarts {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    
}

.how_it {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-top: 80px;
}

.cat {
    background-color: #534D25;
    justify-content: center;
    align-content: center;
    width: 50px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 50px;
    text-align: center;
    margin-right: 20px;
}

.dw_ank_n {
    background-color: #2C2D2F;
    height: 500px;
    -webkit-border-radius: 10px;
    justify-content: right;
    align-items: end;
    font-size: medium;
    font-family: Inter;
}

.dw_head {
    color: #FE3499;
    padding: 10px;
    padding-left: 20px;
    text-transform: none;
}

.dw_footer {
    color: #fff;
    height: 60px;
    align-items: end;
    justify-content: center;
    padding-left: 15px;
    font-size: 1.2rem;
    align-content: center;
    text-transform: none;
}

.dw_footer_2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    padding-right: 20px;
        opacity: 60%;
}

.dw_ank_photo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.block_heart {
    display: flex;
    justify-content: end;
    height: 200px;
    align-items: end;
}

.heart {
    height: 60px;
}

.cat_2 {
    background-color: #E5AFA9;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}

.cat_2 img {
    width: 35px;
    height: 40px;
}

.cat_3 {
    background-color: #C9D4A0;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
    font-family: Inter;
}

.cat_3 img {
    width: 35px;
    height: 40px;
}

.text_me {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
}

.text_time {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

.you {
    align-items: end;
    justify-content: end;
}

.text_you { 
    color: #fff;
    display: block;
    background: linear-gradient(to bottom, #FA6A83 10%, #F48B6A 79%);
    -webkit-border-radius: 30px;
    height: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.text_time2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

        /* Стили для игровых ноутбуков (ширина экрана от 992px до 1199px) */
        @media (min-width: 992px) and (max-width: 1199px) {
body {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #edebd4;
    font-family: "Troubleside";
}

.hello {
    position: relative;
    overflow: visible;
    background-color: #e5afa9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_we {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.image_we img {
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
    max-width: 100%; 
}

.text-block {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #6C4C3A;
    font-family: "TroubleSide";
    font-size: 18px;
    line-height: 1.5;
}


.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 600px;
    height: 600px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 500px;
    height: 500px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}


.more_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}


.img_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img_photo img {
    padding-top: 70px;
    width: 600px;
    height: 400px;
}

.text_morephoto {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 150px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
}


.button_morephoto {
    border: 8px solid;
    background-color: #ffffff;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    cursor: pointer;
    height: 90px;
    transition: 0.5s ease;
    position: absolute;
    left: 67%;
    bottom: -60%;
}

.button_morephoto:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.how_itstarts {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    
}

.how_it {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-top: 80px;
}

.cat {
    background-color: #534D25;
    justify-content: center;
    align-content: center;
    width: 50px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 50px;
    text-align: center;
    margin-right: 20px;
}

.dw_ank_n {
    background-color: #2C2D2F;
    height: 500px;
    -webkit-border-radius: 10px;
    justify-content: right;
    align-items: end;
    font-size: medium;
    font-family: Inter;
}

.dw_head {
    color: #FE3499;
    padding: 10px;
    padding-left: 20px;
    text-transform: none;
}

.dw_footer {
    color: #fff;
    height: 60px;
    align-items: end;
    justify-content: center;
    padding-left: 15px;
    font-size: 1.2rem;
    align-content: center;
    text-transform: none;
}

.dw_footer_2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    padding-right: 20px;
        opacity: 60%;
}

.dw_ank_photo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.block_heart {
    display: flex;
    justify-content: end;
    height: 200px;
    align-items: end;
}

.heart {
    height: 60px;
}

.cat_2 {
    background-color: #E5AFA9;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}

.cat_2 img {
    width: 35px;
    height: 40px;
}

.cat_3 {
    background-color: #C9D4A0;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
    font-family: Inter;
}

.cat_3 img {
    width: 35px;
    height: 40px;
}

.text_me {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
}

.text_time {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

.you {
    align-items: end;
    justify-content: end;
}

.text_you { 
    color: #fff;
    display: block;
    background: linear-gradient(to bottom, #FA6A83 10%, #F48B6A 79%);
    -webkit-border-radius: 30px;
    height: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.text_time2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

        /* Стили для маленьких ноутбуков (ширина экрана от 768px до 991px) */
        @media (min-width: 768px) and (max-width: 991px) {
    body {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #edebd4;
    font-family: "Troubleside";
}

.hello {
    position: relative;
    overflow: visible;
    background-color: #e5afa9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_we {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
}

.image_we img {
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
    max-width: 100%; 
}

.text-block {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #6C4C3A;
    font-family: "TroubleSide";
    font-size: 18px;
    line-height: 1.5;
}


.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 600px;
    height: 600px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 500px;
    height: 500px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}


.more_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}


.img_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img_photo img {
    padding-top: 70px;
    width: 600px;
    height: 400px;
}

.text_morephoto {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 150px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
}


.button_morephoto {
    border: 8px solid;
    background-color: #ffffff;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    cursor: pointer;
    height: 90px;
    transition: 0.5s ease;
    position: absolute;
    left: 67%;
    bottom: -60%;
}

.button_morephoto:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.how_itstarts {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    
}

.how_it {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-top: 80px;
}

.cat {
    background-color: #534D25;
    justify-content: center;
    align-content: center;
    width: 50px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 50px;
    text-align: center;
    margin-right: 20px;
}

.dw_ank_n {
    background-color: #2C2D2F;
    height: 630px;
    -webkit-border-radius: 10px;
    justify-content: right;
    align-items: end;
    font-size: medium;
    font-family: Inter;
}

.dw_head {
    color: #FE3499;
    padding: 10px;
    padding-left: 20px;
    text-transform: none;
}

.dw_footer {
    color: #fff;
    height: 60px;
    align-items: end;
    justify-content: center;
    padding-left: 15px;
    font-size: 1.2rem;
    align-content: center;
    text-transform: none;
}

.dw_footer_2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    padding-right: 20px;
        opacity: 60%;
}

.dw_ank_photo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.block_heart {
    display: flex;
    justify-content: end;
    height: 200px;
    align-items: end;
}

.heart {
    height: 60px;
}

.cat_2 {
    background-color: #E5AFA9;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}

.cat_2 img {
    width: 35px;
    height: 40px;
}

.cat_3 {
    background-color: #C9D4A0;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
    font-family: Inter;
}

.cat_3 img {
    width: 35px;
    height: 40px;
}

.text_me {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
}

.text_time {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

.you {
    align-items: end;
    justify-content: end;
}

.text_you { 
    color: #fff;
    display: block;
    background: linear-gradient(to bottom, #FA6A83 10%, #F48B6A 79%);
    -webkit-border-radius: 30px;
    height: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.text_time2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}
        /* Стили для телефонов (ширина экрана меньше 767px) */
        @media (max-width: 767px) {
 body {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #edebd4;
    font-family: "Troubleside";
}

.hello {
    position: relative;
    overflow: visible;
    background-color: #e5afa9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_we {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image_we img {
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
    max-width: 100%; 
}

.text-block {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #6C4C3A;
    font-family: "TroubleSide";
    font-size: 18px;
    line-height: 1.5;
}


.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 600px;
    height: 600px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.story_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 500px;
}

.text_story {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 240px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_story {
    align-items: center;
    justify-content: center;
}

.img_story img {
    width: 500px;
    height: 500px;
}

.button_story {
    border: 8px solid;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    transition: 0.5s ease;
}

.button_story:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}


.more_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}


.img_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img_photo img {
    padding-top: 70px;
    width: 600px;
    height: 400px;
}

.text_morephoto {
    -webkit-border-radius: 40px;
    background-color: #C9D4A0;
    height: 150px;
    color: #534D25;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -200px; /* Добавлен отступ для сдвига изображения влево */
    object-fit: cover; /* Добавлен объектный fit для предотвращения выхода за пределы */
}


.button_morephoto {
    border: 8px solid;
    background-color: #ffffff;
    border-radius: 40px;
    color: #6C4C3A;
    font-family: "Desyatiy";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-color: #E5AFA9;
    width: 200px;
    cursor: pointer;
    height: 90px;
    transition: 0.5s ease;
    position: absolute;
    left: 67%;
    bottom: -60%;
}

.button_morephoto:hover {
    transform: scale(1.2);
    border-color: #FFF;
    background-color: #E5AFA9;
}

.how_itstarts {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    
}

.how_it {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-top: 80px;
}

.cat {
    background-color: #534D25;
    justify-content: center;
    align-content: center;
    width: 50px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 50px;
    text-align: center;
    margin-right: 20px;
}

.dw_ank_n {
    background-color: #2C2D2F;
    height: 400px;
    -webkit-border-radius: 10px;
    justify-content: right;
    align-items: end;
    font-size: medium;
    font-family: Inter;
}

.dw_head {
    color: #FE3499;
    padding: 10px;
    padding-left: 20px;
    text-transform: none;
}

.dw_footer {
    color: #fff;
    height: 60px;
    align-items: end;
    justify-content: center;
    padding-left: 15px;
    font-size: 1.2rem;
    align-content: center;
    text-transform: none;
}

.dw_footer_2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    padding-right: 20px;
        opacity: 60%;
}

.dw_ank_photo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.block_heart {
    display: flex;
    justify-content: end;
    height: 200px;
    align-items: end;
}

.heart {
    height: 60px;
}

.cat_2 {
    background-color: #E5AFA9;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}

.cat_2 img {
    width: 35px;
    height: 40px;
}

.cat_3 {
    background-color: #C9D4A0;
    justify-content: center;
    align-content: center;
    width: 60px;
    -webkit-border-radius: 50px;
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
    font-family: Inter;
}

.cat_3 img {
    width: 35px;
    height: 40px;
}

.text_me {
    color: #fff;
    display: block;
    background-color: #2C2D2F;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
}

.text_time {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

.you {
    align-items: end;
    justify-content: end;
}

.text_you { 
    color: #fff;
    display: block;
    background: linear-gradient(to bottom, #FA6A83 10%, #F48B6A 79%);
    -webkit-border-radius: 30px;
    height: 150px;
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    align-content: center; 
    align-items: center;
    font-family: Inter;
    text-transform: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.text_time2 {
    justify-content: end;
    text-align: end;
    align-content: end;
    align-items: end;
    color: #fff;
    font-family: Inter;
    padding-right: 20px;
    opacity: 60%;
    font-size: 0.8rem;
}

    .goals_header {
    background-color: #C9D4A0;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-border-radius: 50px;
    font-size: 2rem;
    color: #534D25;
    margin-top: 100px;
    letter-spacing: 72%;
    font-family: TroubleSide Comic;
    }
    
}